body{
	padding: 0pt;
	margin: 0pt;

	background-color:black;
	font-family: sans-serif;
}
body * {''
	background-color: rgba(0, 0, 0, 0.5);
}

input{
	border: none;
	text-align: left;
	text-decoration: none;

	padding: 4pt 8pt;
	font-size: 12pt;
	margin: 4pt;
	width:60pt;
	cursor: pointer;
}
button{
	border: none;
	text-align: left;
	text-decoration: none;

	padding: 4pt 8pt;
	font-size: 12pt;
	margin: 4pt;
	width:60pt;
	cursor: pointer;
}
select{
	border: none;
	text-align: left;
	text-decoration: none;

	padding: 4pt 8pt;
	font-size: 12pt;
	margin: 4pt;
	width:60pt;
	cursor: pointer;

	-webkit-appearance: none;

}

#settings{
	position: fixed;
	right: 0pt;
	top: 0pt;
	height: 100%;
	z-index:10;
	overflow-y: auto;
	background-color: grey;
}
#settings .tile{
	display:block;
	background: #f5f5f5;
	margin: 5pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}
#settings .inputWrap{
	display: block;
	margin: 5pt;
	border: 1px solid black;
}
#settings Label{
	margin-left: 5pt;
}
#settings .tile ul{
	display: table;
	padding: 0pt;
	margin: 0pt;
	margin-top: -2pt;
	width:100%;
	cursor: pointer;
}
#settings .tile li{
	display: table-cell;
	background-color: grey;
	text-align: center;
	font-size: 15pt;
	line-height: 25pt;
	color: white;
}
#settings .tile ul .active{
	display: table-cell;
	background-color: #f5f5f5;
	color: black;
}
#settings .tile .section{
	display: none;
}
#settings .tile .active{
	display: block;
}


#pattern{
}
#ribbonPreview{
	background-color: black;
	display: inline;
	margin: 0pt;
}
#ribbonPreview td{
	display: inline-block;
	height: 40pt;
	width: 15pt;

	padding: 0pt;
	margin: 0pt;
	margin-bottom: -9pt;
	margin-top: -9pt;
	margin-left: 1pt;
	margin-right: 1pt;
}
#ribbonPreview td:hover{
	background-color: white !important;
	cursor: pointer;
}
#ribbonPreview .left{
	-webkit-clip-path: polygon(0 50%, 100% 0, 100% 50%, 0% 100%);
	clip-path: polygon(0 50%, 100% 0, 100% 50%, 0% 100%);
}
#ribbonPreview .right{
	-webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
	clip-path: polygon(0 0, 100% 50%,100% 100%, 0 50%);
}
#ribbonPreview .left_c{
	-webkit-clip-path: polygon(0 0, 100% 50%, 0% 100%);
	clip-path: polygon(0 0, 100% 50%, 0% 100%);
}
#ribbonPreview .right_c{
	-webkit-clip-path: polygon(0 50%, 100% 0%,100% 100%);
	clip-path: polygon(0 50%, 100% 0%,100% 100%);
}
#ribbonPreview .grey{
	opacity: 1;
	pointer-events: none;
}
#ribbonPreview:hover .grey{
	opacity: 0.4;
	pointer-events: none;
}

.turnInstructions{
	display: inline;
}
.turnInstructions tr{
	color: white;
	word-wrap: nowrap;

}
.turnInstructions td{
	display: inline-block;
	height: 40pt;
	line-height: 40pt;
	padding: 0pt;
	margin: 0pt;
	margin-bottom: -9pt;
	margin-top: -9pt;
	word-wrap: nowrap;
}
#backwards_turnInstructions{
	padding-left: 50pt;
}
