body{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:center;
	height: 100%;

	padding: 0pt;
	margin: 0pt;

	background-color:#607D8B;
	font-family: sans-serif;
}
body * {''
	background-color: rgba(0, 0, 0, 0.5);
}

input{
	border: none;
	text-align: left;
	text-decoration: none;
	padding: 4pt 8pt;
	font-size: 12pt;
	margin: 4pt;
	width:60pt;
}
select{
	border: none;
	text-align: left;
	text-decoration: none;
	color: black;
	padding: 4pt 8pt;
	font-size: 12pt;
	margin: 4pt;
	cursor: pointer;
	-webkit-appearance: none;
	width:60pt;
}

#settings{
	display: flex;
	flex-direction: column;
	padding-bottom: 5pt;
	background-color: #bdbdbd;
	width:200pt;

	z-index:10;
}
#settings .tile{
	display:block;
	background: #f5f5f5;
	margin: 5pt;
	margin-bottom: 0pt;
}
#settings .tile h1{
	line-height: 6pt;
	padding: 0pt;
	font-size: 20pt;
	font-weight: normal;
}
#settings .inputWrap{
	display: block;
	margin: 5pt;
	padding-left: 8pt;
	border: 1px solid black;
}
#settings .tile ul{
	display: table;
	padding: 0pt;
	margin: 0pt;
	width:100%;
}
#settings .tile li{
	display: table-cell;
	background-color: grey;
	text-align: center;
	font-size: 15pt;
	line-height: 25pt;
	color: white;
}
#settings .tile .section{
	display: none;
}
#settings .tile .active{
	display: block;
}
#cardSettings ul .active{
	display: table-cell;
	background-color: #f5f5f5;
	color: black;
}


#pattern{
	flex-grow:1;
	display: flex;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: nowrap;
	word-wrap: nowrap;
	justify-content:left;
}
#ribbonPreview{
	background-color: black;
}
#ribbonPreview td{
	display: inline-block;
	height: 40pt;
	width: 20pt;

	padding: 0pt;
	margin: 0pt;
	margin-bottom: -6pt;
	margin-top: -6pt;
	margin-left: 2pt;
	margin-right: 2pt;
}
#ribbonPreview td:hover{
	background-color: white !important;
	cursor: pointer;
}
#ribbonPreview .left{
	-webkit-clip-path: polygon(0 40%, 100% 0, 100% 60%, 0% 100%);
	clip-path: polygon(0 40%, 100% 0, 100% 60%, 0% 100%);
}
#ribbonPreview .right{
	-webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
	clip-path: polygon(0 0, 100% 40%,100% 100%, 0 60%);
}
#ribbonPreview .grey{
	opacity: 0.6;
	pointer-events: none;
}

#turnInstructions tr{
	background-color:white;
	word-wrap: nowrap;
}
#turnInstructions td{
	display: inline-block;
	height: 40pt;

	line-height: 40pt;

	padding: 0pt;
	padding-right: 100pt;
	margin: 0pt;
	margin-bottom: -6pt;
	margin-top: -6pt;
	word-wrap: nowrap;
}
#turnInstructions .grey{
	background-color: grey;
}
