body{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content:center;
	height: 100%;

	padding: 0pt;
	margin: 0pt;

	background-color:#607D8B;
	font-family: sans-serif;
}
body * {
}
#settings_panel{
	display: flex;
	flex-direction: row;
	box-shadow: 0 0 50pt black;
	z-index:10;
}
.tile{
	display:block;
	background: #FAFAFA;
	margin-top: 5pt;
}
.tile h1{
	line-height: 6pt;
	padding: 0pt;
	font-size: 20pt;
	font-weight: normal;
}
#cards{
	height: 200pt;
}
#cards ul{
	padding: 0pt;
	margin: 0pt;
	list-style-type:none;
}
#cards ul li{
	padding: 0pt;
	margin: 0pt;
	height: 30pt;
	width: 20pt;
	float: left;
	background-color: grey;
}


#pattern_panel{
	flex-grow:1;
	display: flex;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:left;
}
#ribbonPreview{
	background-color: black;
}
#ribbonPreview td{
	display: inline-block;
	height: 40pt;
	width: 20pt;

	padding: 0pt;
	margin: 0pt;
	margin-bottom: -6pt;
	margin-top: -6pt;
	margin-left: 2pt;
	margin-right: 2pt;
}
#ribbonPreview td:hover{
	background-color: white !important;
	cursor: pointer;
}
#ribbonPreview .left{
	-webkit-clip-path: polygon(0 40%, 100% 0, 100% 60%, 0% 100%);
	clip-path: polygon(0 40%, 100% 0, 100% 60%, 0% 100%);
}
#ribbonPreview .right{
	-webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
	clip-path: polygon(0 0, 100% 40%,100% 100%, 0 60%);
}
#ribbonPreview .grey{
	opacity: 0.5;
	cursor: normal !important; 
}

#turnInstructions tr{
	background-color:white;
}
#turnInstructions td{
	display: block;
	height: 40pt;
	width: 1000pt;

	padding: 0pt;
	margin: 0pt;
	margin-bottom: -6pt;
	margin-top: -6pt;
}
#turnInstructions .grey{
	background-color: grey;
}
